<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <input th:value="${session.pubClient}" style="width: 500px;" readonly>
    <button id="closeBtn">CLOSE</button>
</div>


<div style="margin-top: 50px;">
    <input type="text" name="topic" id="topic" th:value="${topic}" readonly>

    <input type="text" name="msg" id="msg">
    <button type="button" id="send">전송</button>


</div>

</body>

<script>

    $(document).ready(function(){

        $('#closeBtn').click(function (){
            location.href = '/mqtt/close';
        })

        $('#send').click(function (){

            var topic = $('#topic').val();
            var msg = $('#msg').val();



            var request = $.ajax({
                url: "/api/mqtt/send",
                method: "POST",
                data: { topic : topic,
                        msg : msg },
                dataType: "text"

            });

            request.done(function( result ) {
                console.log(result);
            });

            request.fail(function( result ) {
                console.log(result);
            });

        })



    })




</script>


</html>